.container {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 1rem;
}

 nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem; 
    padding: 10px;
}

.sidenav {
    padding: 35px;
    text-decoration: none;
    color: crimson;
    border: 3.5px solid black;
    width: 80px;
    margin: 5px;
}

.sidenav:hover {
    color: rgb(0, 229, 255);
}


h1 {
    text-align: center;
    border: 5px solid black;
    padding: 40px;

}
